* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color: lightgrey;
}

.menu-list {
    padding-left: 115px;
}

.menu-list li{
    display: inline-flex;
    padding: 50px;
    justify-content: space-between;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: larger;
    color: white;
}

#logo {
    width: 20em;
    height: 7em;
    padding-left: 5px;
    padding-top: 5px;
}

